{% extends 'organization/base.html' %}
{% load static %}
{% block content %}
    <body style="background-color: #fdf9f9;;margin: 160;">
        <table class="table" dir="rtl">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>نام سازمان</th>
                    <th>نام مشتری</th>
                    <th> دستگاه ها</th>
                    <th>pdf </th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                {% for i in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <h5>{{ i.organization.organization_name }}</h5>
                        {{ i.slug }}
                    </td>
                    <td>
                        {{ i.organization.full_name }}
                    </td> 
                    <td>{% for item in i.quoteitem_set.all %}
                        {{ item.product }} {% endfor %}</td>
                    <td>
                        <a href="{% url 'quote:print-quote' i.pk %}" class="btn btn-sm btn-info">
                            pdf
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'followup:email' i.pk %}" class="btn btn-sm btn-warning">
                            ارسال ایمیل به مخاطب
                        </a>
                        <a href="{% url 'quote:quoteitem-create' i.pk %}" class="btn btn-sm btn-success">
                            انتخاب محصولات
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}