{% extends 'organization/base.html' %}
{% block page_header_title %}
    🆕 {{ page_title }}
{% endblock %}
{% block content %}
<body style="background-color: #535353;">
<div style="margin: 50;background-color: aliceblue;position: absolute;right: 450;top: 70;" dir="rtl">
    <div class="col-12">
        <h3>{{ page_title }}</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <button type="submit" class="btn btn-primary">💾 Save</button>
        </form>
    </div>
</div>
</body>
{% endblock %}