{% extends 'organization/base.html' %}
{% load static %}
{% block content %}
        <table class="table" dir="rtl" align="right" style="margin: 200;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">نام سازمان</th>
                    <th scope="col">نام مشتری</th>
                    <th scope="col">ثبت کننده</th>
                    <th scope="col">عملیات</th>
                    <th scope="col">مشخصات</th>
                </tr>
            </thead>
            <tbody>
                {% for i in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.organization_name }}</td>
                    <td>{{ i.full_name }}</td> 
                    <td>{{ request.user }}</td>
                    <td>
                        <a href="{% url 'followup:create-followup' i.pk %}" class="btn btn-sm btn-success">
                            ثبت پیگیری
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'organization:vieworganization' i.pk%}" class="btn btn-sm btn-warning">
                            مشخصات سازمان
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'organization/pagination.html' %}
        <style>
            body  {
                background-color: #fdf9f9;
            }
        </style>
{% endblock %}