{% extends 'organization/base.html' %}
{% load static %}
{% block content %}
    <body style="margin: 100;background-color: #f3f3f3;">
        <table class="table" dir="rtl">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>کاربر</th>
                    <th> تاریخ</th>
                    <th>گرارش</th>
                </tr>
            </thead>
            <tbody>
                {% for i in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.user }}</td>
                        <td>{{ i.created_on }}</td>
                        <td>{{ i.content }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}