{% extends 'organization/base.html' %}
{% load static %}
{% block content %}
    <body style="background-color: #646464;">
        <table class="table table-light" dir="rtl" align="right" style="margin: 150;">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>نام محصول</th>
                    <th>قیمت</th>
                    <th>مشمول مالیات</th>
                    <th>دانلود کاتالوگ</th>
                </tr>
            </thead>
            <tbody>
                {% for i in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.price }}</td>
                    <td>{{ i.is_Includesـtaxes }}</td>
                    <td>
                        {% if i.pdf %}
                            <button class='btn btn-success'>
                                <a href="uploads/{{ i.pdf }}" style='text-decoration: none; color: white;'>دانلود</a>
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}